@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'PTRootUIWebVF';
    src:
      local(''),
      url('/fonts/PT-Root-UI/PT-Root-UI_VF.woff2') format('woff2'),
      url('/fonts/PT-Root-UI/PT-Root-UI_VF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto Mono';
    src:
      local(''),
      url('/fonts/Roboto-Mono/roboto-mono-v13-latin-regular.woff2')
        format('woff2'),
      url('/fonts/Roboto-Mono/roboto-mono-v13-latin-regular.woff')
        format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --container-padding: 5vw;
    --container-max-width: 60rem;

    --whgt-base: 'wght' 400;
    --whgt-bold: 'wght' 600;

    color-scheme: dark;
  }

  body {
    font-variation-settings: var(--whgt-base);
  }

  nav,
  section,
  footer {
    @apply grid justify-items-start;

    grid-template-columns:
      1fr [container-start] minmax(0, var(--container-max-width))
      [container-end] 1fr;
    column-gap: var(--container-padding);

    & > * {
      grid-column: container;
    }
  }

  strong,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-variation-settings: var(--whgt-bold);
  }

  p {
    line-height: 1.5;
  }

  /* fix accessibility issue for lists that have 'list-style-type: none' or 'display: inline' applied */
  /* https://gerardkcohen.me/writing/2017/voiceover-list-style-type.html */
  li::before {
    content: '\200B'; /* add zero-width space */
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center space-x-2 rounded-md border border-white px-6 py-3 font-mono transition-colors hover:bg-white hover:text-purple-dark;
    @apply outline-none ring-purple focus-visible:ring-4;

    /* fix for bg-gradient */
    @apply bg-center bg-no-repeat;
    background-size: calc(100% + 2px) calc(100% + 2px);
  }

  .btn-sm {
    @apply px-4 py-2;
  }
}

@layer utilities {
  .text-bg-gradient {
    @apply bg-gradient-to-tr from-purple to-blue bg-clip-text text-transparent;
  }

  /* slightly increase line-height for large text sizes to */
  /* fix text clipping issue when using '.text-bg-gradient'. */
  .text-5xl,
  .text-6xl,
  .text-7xl,
  .text-8xl,
  .text-9xl {
    @apply leading-[1.1];
  }

  .list li {
    @apply relative ml-5;

    &::before {
      @apply absolute -left-5 top-2 h-2 w-2 rounded-full bg-gradient-to-tr from-purple to-blue;
    }
  }

  .link {
    @apply hover:whgt-bold underline hover:text-blue;
  }

  .content-empty {
    content: '';
  }

  .whgt-bold {
    font-variation-settings: var(--whgt-bold);
  }
}
