---
export interface Props {
  title: string;
  date: string;
  location: string;
  list: string[];
}

const { title, date, location, list } = Astro.props;
---

<div
  class:list={[
    'justify-start gap-x-4 sm:grid',
    'sm:before:content-empty before:col-start-1 before:row-span-3 before:row-start-1 before:h-full before:w-0.5 before:justify-self-center before:bg-white',
    'sm:after:content-empty after:bg-purple-dark after:col-start-1 after:row-start-1 after:h-6 after:w-6 after:justify-self-center after:rounded-full after:border-white sm:after:border-2',
  ]}
>
  <h3 class="col-start-2 text-xl text-white">{title}</h3>
  <h4 class="col-start-2 font-mono">{date} / {location}</h4>
  <ul class="list col-start-2 mt-3 mb-6 max-w-2xl space-y-3">
    {list.map((item) => <li>{item}</li>)}
  </ul>
</div>
