---
export interface Props {
  title: string;
  date: string;
  location: string;
  list: string[];
}

const { title, date, location, list } = Astro.props;
---

<div class="experience-item">
  <h3>{title}</h3>
  <h4>{date} / {location}</h4>
  <ul class="list">
    {list.map((item) => <li>{item}</li>)}
  </ul>
</div>
