---
const currentYear = new Date().getFullYear();
---

<footer
  class="justify-items-center bg-black bg-opacity-40 py-8 font-mono text-sm"
>
  <div class="mb-2">Made with ❤️ in Berlin.</div>
  <div>&copy; {currentYear} Florian Strasser</div>
</footer>
