<svg width="27" height="27" viewBox="0 0 27 27" fill="none" aria-hidden="true">
  <g clip-path="url(#a)">
    <path
      d="M21.826 10.733c-.022-.02-.928-.896-.947-.918l-5.27 5.109.69 1.335-4.944 4.945a.78.78 0 0 0 .063 1.161 7.818 7.818 0 0 0 10.41-.578 7.814 7.814 0 0 0-.002-11.054Z"
      fill="url(#b)"
    />
    <path d="M16.3 16.261A7.817 7.817 0 0 1 26.708 4.63a.78.78 0 0 1 .063 1.16L16.299 16.262Z" fill="url(#c)" />
    <path
      d="m10.606 14.614-9.224 9.229C.873 24.354 0 23.993 0 23.27V4.813c0-.722.873-1.083 1.382-.572l9.222 9.229a.807.807 0 0 1 .002 1.144Z"
      fill="url(#d)"
    />
    <path d="M0 17.8V3.733a.81.81 0 0 1 .81-.81h12.112c.722 0 1.084.873.573 1.382L0 17.8Z" fill="url(#e)" />
  </g>
  <defs>
    <linearGradient id="b" x1="13.059" y1="24.015" x2="24.084" y2="12.991" gradientUnits="userSpaceOnUse">
      <stop stop-color="#FF8D81" />
      <stop offset="1" stop-color="#DB69FB" />
    </linearGradient>
    <linearGradient id="c" x1="13.537" y1="13.498" x2="24.561" y2="2.473" gradientUnits="userSpaceOnUse">
      <stop stop-color="#FFD840" />
      <stop offset="1" stop-color="#FF8D81" />
    </linearGradient>
    <linearGradient id="d" x1="-4.379" y1="19.229" x2="5.997" y2="8.854" gradientUnits="userSpaceOnUse">
      <stop stop-color="#0DE3CA" />
      <stop offset="1" stop-color="#76F266" />
    </linearGradient>
    <linearGradient id="e" x1="-3.601" y1="14.2" x2="10.468" y2=".131" gradientUnits="userSpaceOnUse">
      <stop stop-color="#6E7EFF" />
      <stop offset="1" stop-color="#4DE5FF" />
    </linearGradient>
    <clipPath id="a">
      <path fill="#fff" d="M0 0h27v27H0z" />
    </clipPath>
  </defs>
</svg>
